##<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/sitesetup/chef_site-siteInfo-editInfo.vm,v 1.3 2005/05/23 04:04:12 ggolden.umich.edu Exp $ -->
## Edit Site Information
<div class="portletBody container-fluid">
	#if($menu)#toolbar($menu)#end
	## header for edit site information page
	<div class="page-header">
		<h3>
			#if($existingSite) $tlang.getString("dept.edit") #else $tlang.getString("dept.add") #end 
		</h3>
	</div>
	<style>
		#addEditDept fieldset {
			border: 2px solid var(--sakai-text-color-1);
			padding: 1em;
			position: relative;
		}
	</style>

	#if ($alertMessage)<div class="sak-banner-error">$tlang.getString("sitediinf.alert") $alertMessage</div>#end

	<form name="addEditDept" id="addEditDept" method="post" action="#toolForm("SiteAction")">
		<fieldset>
			<legend>
				 $tlang.getString("dept.info")
			</legend>
			
			#if(!$existingSite)
				## adding new site
				<div class="instruction">
					<span class="reqStarInline">*</span> $tlang.getString("sinfo.means")
				</div>
			#end
			
			## adding a new course site
			#if ($isCourseSite)
				<table class="table table-striped table-hover table-bordered ms-0" summary="$tlang.getString("sinfo.rosterlist.summary")" border="0">
					#if ($!selectedProviderCourse)
						<tr class="exclude" id="selectedProviderCourse-head"><td colspan="2" style="padding:.4em 0">
							<h4><span >$tlang.getString("sinfo.youare")</span></h4>
						</td></tr>
						#set ($selectedProviderCourse-num=0)
						#foreach ($item in $!selectedProviderCourseTitles.keySet())
							<tr>
								<td style="padding-left:1em">
								#set ($selectedProviderCourse-num=1)
								$!selectedProviderCourseTitles.get($item)
								</td>
							</tr>
						#end
						<tr>
							<td style="height:0;display:none">
							## do it this way
								#if ($selectedProviderCourse-num ==0)
									<script type="text/javascript">document.getElementById('selectedProviderCourse-head').style.display='none'</script>
							</td>
						</tr>
						#end
					#end
					#foreach($id in $!providerCourseTitles.keys())
						<tr>
							<td style="padding-left:1em">
								$!providerCourseTitles.get($id)
							</td>
						</tr>
					#end
					#if ($!cmAuthorizerSections || $!cmRequestedSections || $!manualAddNumber)
						<tr class="exclude"><td colspan="2" style="padding:.4em 0">
						<h4><span >$tlang.getString("sinfo.requestedSections")</span></h4>
						#foreach ($sect in $!cmRequestedSections)
							<tr>
								<td style="padding-left:1em">
									$sect.title $tlang.getString("man.requested")
								</td>
							</tr>	
						#end
					   #foreach ($sect in $!cmAuthorizerSections)
							<tr>
								<td style="padding-left:1em">
									$sect.eid: $sect.title, $sect.categoryDescription (Pending approval by $sect.authorizer)
								</td>
							</tr>	
						#end
						#if($existingSite)
							#foreach($id in $!manualCourseList)
									<tr>
									<td style="padding-left:1em">
										$id $tlang.getString("man.requested")
									</td>
									</tr>
							#end
						#else
							## for new site
							#foreach ($k in [0..$manualAddNumber])
								#set($courseFieldValues = $!fieldValues.get($k))
								#set($bound = $!form_requiredFields.size())
								#set($bound = $bound - 1)
								<tr>
								<td style="padding-left:1em">
									#set($courseFieldString="")
									#foreach ($fieldCount in [0..$!bound])
										#set($courseFieldString=$courseFieldString.concat($!courseFieldValues.get($fieldCount).getValue()).concat(" "))
									#end
									#set($courseFieldString=$courseFieldString.trim())
									$courseFieldString $tlang.getString("man.requested")
								</td>
								</tr>
						#end
						#end
					#end
				</table>
			#end
			
			## Department Name (added from chef_users_edit.vm) ##
			## Title ##
			<div class="mb-3 row">
				<label for="title" class="col-sm-2 col-form-label">
					#if ($siteTitleEditable || (!$!existingSite && !$hasRosterAttached))
						<span class="reqStar">*</span>
					#end
					Department Name
				</label>
				<div class="col-sm-4">
					#if ($siteTitleEditable || (!$!existingSite && !$hasRosterAttached))
						<input type="text" name="title" id="title" size="40" maxlength="$!titleMaxLength" value="$formattedText.escapeHtml($!title)" class="form-control sakai-glow" />
					#else
						$formattedText.escapeHtml($!title)
					#end
				</div>
			</div>

			<!-- Parent Department -->
			<div class="mb-3 row">
				<label for="locales" class="col-sm-2 col-form-label">
					Parent Department
				</label>
				<div class="col-sm-4">
					<input type="hidden" name="new_name" id="new_name" size="40" maxlength="10" value="devtek-site-parent" class="form-control"/>
					<select name="new_value" id="new_value" class="form-control sakai-glow">
						<option value="" #if ($devtek-site-parent == "")selected="true" #end>Select Department</option>
						#foreach($site in $allsites)
							<option value="$site.Id" #if ($site.Id == $devtek-site-parent)selected="true" #end>$formattedText.escapeHtml($site.Title)</option>
						#end
					</select>
				</div>
			</div>

			<!-- Language -->
			<div class="mb-3 row">
				<label for="locales" class="col-sm-2 col-form-label">
					Department Admin
				</label>
				<div class="col-sm-4">
					<input type="hidden" name="new_name" id="new_name" size="40" maxlength="10" value="devtek-site-admin" class="form-control"/>

					<select name="new_value" id="new_value" class="form-control sakai-glow">
						<option value="" #if ($devtek-site-admin == "")selected="true" #end>Select Admin</option>
						#foreach($user in $allusers)
							<option value="$user.id" #if ($user.Id == $devtek-site-admin)selected="true" #end>$formattedText.escapeHtml($user.firstName)</option>						#end
					</select>
				</div>
			</div>


			
			<input type="hidden" name="hasRosterAttached" id="hasRosterAttached" value="$hasRosterAttached" />
			
			
			## Contact Name ##
			<div class="row d-none">
				<label for="siteContactName" class="col-sm-2 form-control-label d-none">
					<span class="reqStar">*</span>
					$tlang.getString("sitediinf.sitconnam")
				</label>
				<div class="col-sm-4">
					<input type="text" name="siteContactName" id="siteContactName" size="20" maxlength="99" value="$!validator.escapeHtml($!form_site_contact_name)" />
				</div>
			</div>		
			## Contact Email ##		
			<div class="row d-none">
				<label for="siteContactEmail" class="col-sm-2 form-control-label d-none">
					$tlang.getString("sitediinf.sitconema")
				</label>	
				<div class="col-sm-4">			
					<input type="text" name="siteContactEmail" id="siteContactEmail" size="20" maxlength="99" value="$!form_site_contact_email" />
				</div>
			</div>
			#if ($isMathJaxInstalled)
				#if ($isMathJaxEnabledForSite)
					<input type="hidden" name="isMathJaxEnabledForSite" id="isMathJaxEnabledForSite" value="on"/>
				#end
			#end
			<input type="hidden" name="back" value="$!backIndex" />
			<input type="hidden" name="templateIndex" value="$!templateIndex" />
			<input type="hidden" name="continue" value="$!continue" />
			<input type="hidden" name="option" id="option" value="x" />
			<input type="hidden" name="eventSubmit_doEdit_site_info" value="x" />
			<input type="hidden" name="new_name" id="new_name" size="40" maxlength="10" value="devtek-department-type" class="form-control"/>
            <input type="hidden" name="new_value" id="new_value" size="40" maxlength="10" value="department" class="form-control sakai-glow"/>
			<input type="hidden" name="new_name" id="new_name" size="40" maxlength="10" value="devtek-school-id" class="form-control"/>
            <input type="hidden" name="new_value" id="new_value" size="40" maxlength="10" value="$devtek-school-id" class="form-control sakai-glow"/>
			
			<div class="act">
				<input type="submit" accesskey="s" class="active btn btn-primary" name="continue" value="$tlang.getString("sitediinf.con")" 
					onclick="resetOption('continue', 'addEditDept'); SPNR.disableControlsAndSpin( this, null );" />
				#if(!$existingSite)
					## have the back button for creating site wizard
					<input type="submit" accesskey="b" name="back" value="$tlang.getString('gen.back')" class="btn btn-secondary" 
						onclick="resetOption('back', 'addEditDept'); SPNR.disableControlsAndSpin( this, null );" />
				#end
				<input type="submit" accesskey="x" name="cancel" value="$tlang.getString('sitediinf.can')" class="btn btn-secondary" 
					onclick="resetOption('cancel', 'addEditDept'); SPNR.disableControlsAndSpin( this, null );" />
			</div>
			<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
		</fieldset>
	</form>
</div>